.list-item {
    border: 1px solid rgb(255 255 255 / 35%);
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgb(255 255 255 / 31%);
  }
  @media screen and (min-width: 768px) {
    .list-item {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      width: 300px;
    }
  }
  .title-star-container {
    display: flex;
    justify-content: space-between;
  }
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .star-button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    outline: none;
  }
  .card-date {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  